@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.ql-editor{
    background-color: white;
}

.ql-toolbar {
    background-color: white;
}

.ql-container {
    background-color: white;
    min-height: 300px;
}
